---
const factPromise = fetch('https://catfact.ninja/fact')
  .then(response => response.json())
  .then(factData => factData.fact);
const personPromise = fetch('https://randomuser.me/api/')
  .then(response => response.json())
  .then(data => new Promise((resolve) => setTimeout(() => resolve(data.results[0].name.first), 3000)))
const secondPersonPromise = fetch('https://randomuser.me/api/')
  .then(response => response.json())
  .then(data => new Promise((resolve) => setTimeout(() => resolve(data.results[0].name.first), 7000)))
---

<html>
  <head>
    <title>A fact and some names</title>
  </head>
  <body>
    <h2>A fact</h2>
    <p>{factPromise}</p>
    <h2>A name</h2>
    <p>{personPromise}</p>
    <h2>Another name</h2>
    <p>{secondPersonPromise}</p>
  </body>
</html>
